body {
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

dl,
ol,
ul {
    margin-top: 0;
    margin-bottom: 0;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(121, 121, 121, 1);

}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: var(--timeColor);


}

::-webkit-scrollbar-thumb:hover {
    background: var(--menuColor);
}

#button {
    display: inline-block;
    background-color: var(--aboutMore);
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 3%;
    transition: background-color .3s,
        opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 99999;
    border: 1px solid var(--dateColor);
}

#button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
}

#button:hover {
    cursor: pointer;
    background-color: rgb(2, 114, 73);
}

#button:active {
    background-color: rgb(2, 114, 73);
}

#button.show {
    opacity: 1;
    visibility: visible;
}

header {
    font-family: var(--fontMulish);
}

.header-bg {
    background-color: var(--headerBg);
    height: 54px;
    line-height: 54px;
    width: 100%;
}

.date-blog {
    font-family: "Mulish", sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: var(--timeColor);
}

.header-social-icons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header-ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-ul li {
    margin: 0 13px;
    text-decoration: none;

}

.header-ul li a:hover {
    text-decoration: none;
}



.header-ul li.social {
    margin: 0 6px;
}

.header-ul li:nth-child(n+3) {
    margin: 0 13px;
}


.header-ul li a {
    font-size: 21px;
    color: var(--dateColor);
}

.header-ul li a i {
    width: 24px;
    height: 24px;
    line-height: 24px;
    border-radius: 50%;
    background-color: var(--dateColor);
    color: var(--headerBg);
    text-align: center;
    font-size: 16px;
    transition: all 0.3s ease;
}

.header-ul li a i:hover {
    transform: scale(1.04);
}


.header-ul li a.lang {
    font-size: 16px;
    letter-spacing: 0.5px;
}

header {
    width: 100%;
    position: relative;
}

.header-link {
    display: block;
}

.toolbar img {
    width: 100%;
    height: 100%;
}

.sticky.is-sticky {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.25em + 0.5rem + 2px);
    padding: 0.375rem 0.75rem;
    font-weight: 500;
    font-size: 18px;
    background-color: var(--dateColor);
    background-clip: padding-box;
    border: none;
    transition: .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-inline {
    position: relative;
    z-index: 9999;
}


.btn-search:active {
    border: none;

}

.btn-search:focus {
    border: none;

}

.btn-search {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translate(-10%, -50%);
}

.form-control-input {
    border-radius: 8px;
    padding-right: 55px;
}


@media (max-width:800px) {
    .header-bg {
        height: auto;
        line-height: 20px;
        padding: 10px 0;
    }

    .date-blog {
        font-size: .9rem;
        text-align: center;
        margin-bottom: 10px;
    }

    .header-social-icons {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .header-ul li a {
        font-size: 16px;
    }
}

@media screen and (max-width: 567px) {
    .footer-search form {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .footer-form-control {
        height: 44px;
        font-size: 16px;
    }

    .footer-search .btn-search {
        padding: 0;
        margin-right: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20px;
        position: absolute;
        top: 0;
        right: 0%;
        transform: translate(0, 0%);
    }

    .footer-btn-search {
        width: 22px;
        height: 22px;
    }
}

.row {
    clear: left
}

.material-icons {
    font-family: MaterialIcons-Regular !important;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: 'liga';
    font-feature-settings: 'liga'
}

.center,
.center-horizontal {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -moz-box !important;
    display: -ms-flexbox !important
}

.center {
    display: flex !important;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.center-horizontal {
    display: flex !important;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.center-vertical {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.noscroll-y {
    overflow-y: hidden;
}

@media screen and (max-width: 1200px) {
    .nav-item.dropdown {
        margin-right: 0 !important;
    }
}

@media (max-width: 991px) {
    .noscroll-y {
        height: 100%
    }
}

.noscroll {
    overflow: hidden
}

@media screen and (max-width: 991px) {
    .noscroll {
        height: 100%
    }
}


header .navbar {
    position: relative;
    padding: 0;
    background-color: var(--aboutMore);
    height: 54px;
}

header .navbar-nav {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: flex-start;
    width: 100%
}

header .navbar-nav .nav-item {
    margin: 0 22px;
    padding: 10px 0
}

header .navbar-nav .nav-item:before {
    display: none
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.25em + 0.5rem + 2px);
    padding: 0.375rem 0.75rem;
    font-weight: 500;
    font-size: 18px;
    background-color: var(--dateColor);
    background-clip: padding-box;
    border: none;
    transition: .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-inline {
    position: relative;
    z-index: 9999;
}


.btn-search:active {
    border: none;

}

.btn-search:focus {
    border: none;

}

.btn-search {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    /* ortalayıcı hissə */
    right: 5px;
    /* sağdan məsafə */
    transform: translateY(-50%);
    /* dikey ortalama */
    background: none;
    border: none;
    cursor: pointer;
}

.form-control-input {
    border-radius: 8px;
    padding-right: 55px;
}

@media screen and (min-width: 992px) {
    header .navbar-nav .nav-item {
        position: static
    }

    header .navbar-nav .nav-item.dropdown:hover .dropdown-menu {
        opacity: 1;
        z-index: 2
    }

    header .navbar-nav .nav-item.dropdown:hover .nav-link span {
        opacity: 1
    }

    header .navbar-nav .nav-item.active .nav-link:after {
        content: '';
        position: absolute;
        bottom: -10px;
        left: 0;
        right: 0;
        height: 5px;
        background-color: #fff
    }

    header .navbar-nav .nav-item.active .nav-link span {
        opacity: 1
    }
}

header .navbar-nav .nav-item.active .dropdown-menu {
    opacity: 1;
    z-index: 1
}

header .navbar-nav .dropdown-item.active,
header .navbar-nav .dropdown-item:hover {
    background-color: transparent
}

@media screen and (max-width: 991px) {
    header .navbar-nav .nav-item {
        margin: 0;
        padding: 0
    }

    .btn-search {
        width: 20px;
        height: 20px;
        position: absolute;
        top: 50%;
        right: 5px;
        transform: translateY(-50%);
        background: none;
        border: none;
        cursor: pointer;
    }

}



header .navbar-nav .nav-link {
    padding: 10px 18px 10px 0 !important;
    font-family: var(--fontMulish);
    font-weight: 600;
    font-size: 18px;
    color: var(--dateColor);
}

header .navbar-nav .nav-item:first-child {
    padding-left: 0;
}


.lang__link.active,
header .navbar-nav .dropdown-item.active {
    font-family: OpenSans-Bold, Helvetica, Arial, sans-serif
}

header .navbar-nav .nav-link span {
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    display: block;
    width: 12px;
    height: 12px;
    background-image: url(../../img/nav-icon.svg);
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-transition: .3s;
    transition: .3s
}

@media screen and (max-width: 991px) {
    header .navbar-nav .nav-link span {
        top: 10px;
        width: 20px;
        height: 20px;
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg)
    }

    header .navbar-nav .nav-link span.down {
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0)
    }
}

header .navbar-nav .dropdown-menu {
    margin: 0;
    border: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0
}

@media screen and (min-width: 992px) {
    header .navbar-nav .nav-link span {
        opacity: .5
    }

    header .navbar-nav .nav-link {
        position: relative
    }

    header .navbar-nav .dropdown-menu {
        display: -webkit-box !important;
        display: -webkit-flex !important;
        display: -moz-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
        right: 0;
        -webkit-box-align: flex-start;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 100%;
        margin-top: 0;
        border: 0;
        opacity: 0;
        z-index: -1;
        background-color: var(--dateColor);
        box-shadow: 0px 4px 4px 0px #00000040;
        height: 50px;

    }
}

@media screen and (max-width: 991px) {
    header .navbar-nav .dropdown-menu {
        background-color: transparent;
        padding: 5px 0 15px
    }
}

header .navbar-nav .dropdown-item {
    width: auto;
    padding: 0 14px;
    font-size: 18px;
    font-weight: 600;
    color: var(--blackColor);
}

@media screen and (min-width: 992px) {
    header .navbar-nav .dropdown-item.active {
        padding-left: 35px
    }

    header .navbar-nav .dropdown-item.active:before {
        content: '';
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        left: 20px;
        width: 10px;
        height: 10px;
        background-image: url(../../img/nav-icon2.svg);
        background-repeat: no-repeat;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position: center
    }

    header .navbar-toggler {
        display: none
    }
}

body,
ul li {
    position: relative
}

.breadcrumb-item:not(:last-of-type)::after,
.btn:before {
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%)
}

header .navbar-toggler,
ul li:before {
    -moz-background-size: cover;
    -o-background-size: cover
}

@media screen and (max-width: 1199px) {
    header .navbar-nav .dropdown-item {
        padding: 0 12px;
        font-size: 16px;
        font-weight: 600;
    }
}

@media screen and (max-width: 991px) {
    header .navbar-nav .dropdown-item {
        padding: 2px 0;
        color: #fff
    }

    header .navbar-nav {
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -moz-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        height: -webkit-calc(100% - 160px);
        height: -moz-calc(100% - 160px);
        height: calc(100% - 160px);
        padding: 15px;
        overflow-y: auto;
    }
}

header .navbar-toggler {
    min-width: 24px;
    width: 24px;
    height: 24px;
    padding: 0;
    border: 0;
    background-image: url(../../img/navbar.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 4;
    margin: 0 auto;

}

.navbar-toggler:focus {
    box-shadow: none;
}

.jumbotron,
ul li:before {
    background-repeat: no-repeat;
    background-position: center
}

header .navbar-collapse>div {
    margin: 0 auto;
}

@media screen and (max-width: 991px) {
    header .navbar-collapse>div {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -moz-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        height: -webkit-calc(100vh - 150px);
        height: -moz-calc(100vh - 150px);
        height: calc(100vh - 150px)
    }
}